<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <div class="container" style="margin-top: 20px; width: 250px">
        <h1 class="text-center">Counter</h1>
        <form action="/count" method="post">
        <h3 class="text-center">{{count}} times</h3>
        <button type="button" class="btn btn-primary" style="width:250px; margin-bottom: 10px;">click to add</button><br>
        <button type="button" class="btn btn-danger" style="width:250px;"">reset</button>
        </form>
    </div>
</body>
</html>